/*-------------------Descrição------------------*/

#sobre {
    background-image: linear-gradient(to top, #48c6ef 0%, #5a7dfc9d 100%);
    font-family: 'Roboto Mono', monospace;
}

.centralizador-desc {
    display: flex;
    align-items: center;
}

.programador {
    width: 45%;
}

.desc {
    font-size : 200%;
}
